{{page-title 'Index'}}
<Input
  style='margin-left:15px;'
  @value={{this.newTitle}}
  {{!-- @enter={{this.addPost}} --}}
  {{on 'keydown' this.addPost}}
/>
<ul>
  {{#each @model as |post|}}
    <li>
      <LinkTo @route='posts.post' @model={{post.id}}>
        <PostView @post={{post}} @showBody={{false}} />
      </LinkTo>

    </li>
  {{/each}}
</ul>
{{outlet}}