{{page-title 'Post'}}

<h1>{{@model.title}}</h1>

<p>
  <strong>Published: {{@model.publishedAt}}</strong>
</p>

<code>{{@model.body}}</code>
<h4>Comments</h4>

<ul>
  {{#each @model.comments as |comment|}}
    <li>
      {{comment.text}}<br />
      <small> commented on {{comment.publishedAt}}</small>
    </li>
  {{/each}}
</ul>